<?xml version='1.0' encoding='UTF-8'?>
<project-settings
    projectName='BankSoftware'
    projectID='kfq39gz4'
    processID='TSP'
    scheduleName='BankSoftware'
    personal='true'
    version='2.6'
    timestamp='@1601512618305'
    datasetID='64fb86f8-9213-4314-ada0-f0c5491ca339'>
</project-settings>
<!--THUMBPRINT TSv1//P8O8hjq/PK4+ZDC7cqlTizHMIx592ftjuw0Wn -->